@(ventilateurs: List[Ventilateur], ventilateurForm: Form[Ventilateur])

@import helper._

@main("Liste des ventilateurs") {
   
    <h1>@ventilateurs.size() ventilateur(s)</h1>
    
    <table id="tableVentilateurs" class="table table-striped table-bordered">
	    <thead>
	        <tr>
	            <th>Ligne d'implantation ou ventil&eacute;e</th>
	            <th>Ventilateur</th>
	            <th>Station</th>
	            <th>Etat de fonctionnement</th>
	            <th>D&eacute;but</th>
	            <th>Fin pr&eacute;visionnelle</th>
	            <th>Etat CCVM</th>
	            <th>Attention</th>
	            <th>Observations</th>
	            <th>Actions</th>
	        </tr>
	    </thead>
	    <tbody>
	        @for(ventilateur <- ventilateurs) {
	            <tr>
	            	<td></td>
	            	<td>
	            		@ventilateur.libelle
	            	</td>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	                <td style="white-space: nowrap">
		                @form(routes.Application.supprimerVentilateur(ventilateur.id)) {
		                    <input type="submit" value="Supprimer" class="btn">
		                }
		                <input type="submit" value="D&eacute;tail" class="btn">
		                <input type="submit" value="Modifier" class="btn">
		            </td>
	            </tr>
	        }
	    </tbody>
	</table>
    
    <h2>Ajouter un ventilateur</h2>
    
    @form(routes.Application.ajouterVentilateur()) {
        
        @inputText(ventilateurForm("Libelle")) 
        
        <input type="submit" value="Ajouter" class="btn">
        
    }
    
	<script>
		$.extend
		(
			$.fn.dataTableExt.oStdClasses, 
			{
		    	"sWrapper": "dataTables_wrapper form-inline"
			}
		);

		$.extend
		(
			$.fn.dataTableExt.oStdClasses, 
			{
			    "sSortAsc": "header headerSortDown",
			    "sSortDesc": "header headerSortUp",
			    "sSortable": "header"
			}
		);

		$(document)
		.ready
		(
			function() 
			{
		    	$('#tableVentilateurs')
		    	.dataTable
		    	(
		   			{
		   				"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
		   				"sPaginationType": "bootstrap"
		   			}
		    	);
			}
		);
	</script>
}