@(lignes: List[Ligne], ligneForm: Form[Ligne])
@import helper._
@import play.i18n._
@main(Messages.get("views.ligne.titre")) {
    <h1>@lignes.size() @Messages.get("views.ligne.h.lignes")</h1>
    <table id="tableLignes" class="table table-condensed">
	    <thead>
	        <tr>
	        	<th class='colonne_Reseau'>@Messages.get("views.table.th.reseau")</th>
	        	<th class='colonne_Ligne'>@Messages.get("views.table.th.ligne")</th>
	        	<th class='colonne_Composite_Reseau-Ligne'>@Messages.get("views.table.th.ligne")</th>
	            <th>@Messages.get("views.table.th.indisponibilites")</th>
	            <th>@Messages.get("views.table.th.actions")</th>
	        </tr>
	    </thead>
	    <tbody>
	        @for(ligne <- lignes) {
	            <tr>
	            	<td class='colonne_Reseau'>
	            		@ligne.getReseau
	            	</td>
	            	<td class='colonne_Ligne'>
	            		@ligne.libelle             	
	            	</td>
	            	<td class='colonne_Composite_Reseau-Ligne'>
	            	</td>	 	            
	            	<td></td>
	                <td>
		                <form method='' action=''>
		                    <div class="btn-toolbar">
							    <div class="btn-group btn-small">
								    <a class='btn btn-small' href="#"><i title='@Messages.get("views.bouton.detail")' class="icon-eye-open"></i></a>
								    <a class='btn btn-small' href="#"><i title='@Messages.get("views.bouton.modifier")' class="icon-edit"></i></a>
							    	<a class='btn btn-small' onclick="$(this).envoyerFormulaire('POST', '')"><i title='@Messages.get("views.bouton.supprimer")' class='icon-trash'></i></a>
	   							</div>
	   						</div>
   						</form>
		            </td>	            	
	            </tr>
	        }
	    </tbody>
	</table>
    
    <h2>@Messages.get("views.ligne.h.ajouter")</h2>
    @form(routes.LigneControleur.ajouterLigne()) {
        @select(
        	ligneForm("reseau.libelle"),
        	options(Reseau.selectOptions()),
        	'_default -> Messages.get("views.ligne.form.select.reseau.defaut"),
        	'_label -> Messages.get("views.ligne.form.label.reseau")
       	)    	
        @inputText(
        	ligneForm("libelle"),
        	'_label -> Messages.get("views.ligne.form.label.libelle"),
        	'_showConstraints -> false
		) 
        @inputText(
        	ligneForm("guideOperateurLigneURI"),
        	'_label -> Messages.get("views.ligne.form.label.guideOperateurLigneURI"),
        	'_showConstraints -> false
		) 
		@inputText(
			ligneForm("guideOperateurLigneDegradeURI"), 
			'_label -> Messages.get("views.ligne.form.label.guideOperateurLigneDegradeURI"), 
			'_showConstraints -> false
		) 
        <input type="submit" value='@Messages.get("views.bouton.ajouter")' @*class="btn"*@>
    }
}