@(reseaux: List[Reseau], reseauForm: Form[Reseau])
@import helper._
@import play.i18n._
@main(Messages.get("views.reseau.titre")) {
    <h1>@reseaux.size() @Messages.get("views.reseau.h.reseaux")</h1>
    <table id="tableReseaux" @*class="table table-striped table-bordered"*@>
	    <thead>
	        <tr>
	        	<th>@Messages.get("views.table.th.reseau")</th>
	            <th>@Messages.get("views.table.th.actions")</th>
	        </tr>
	    </thead>
	    <tbody>
	        @for(reseau <- reseaux) {
	            <tr>
	            	<td>
	            		@reseau.libelle
	            	</td>
	                <td style="white-space: nowrap">
		                @form(routes.ReseauControleur.supprimerReseau(reseau.libelle)) {
		                    <input type="submit" value='@Messages.get("views.bouton.supprimer")' @*class="btn"*@>
		                }
		                <input type="submit" value='@Messages.get("views.bouton.detail")' @*class="btn"*@>
		                <input type="submit" value='@Messages.get("views.bouton.modifier")' @*class="btn"*@>
		            </td>	            	
	            </tr>
	        }
	    </tbody>
	</table>
    
    <h2>@Messages.get("views.reseau.h.ajouter")</h2>
    @form(routes.ReseauControleur.ajouterReseau()) {
        @inputText(
        	reseauForm("libelle"),
        	'_label -> Messages.get("views.reseau.form.label.libelle")
        ) 
        <input type="submit" value='@Messages.get("views.bouton.ajouter")' @*class="btn"*@>
    }
}