@(sections: List[Section], sectionForm: Form[Section])
@import helper._
@import play.i18n._
@main(Messages.get("views.section.titre")) {
    <h1>@sections.size() @Messages.get("views.section.h.sections")</h1>
    <table id="tableSections" @*class="table table-striped table-bordered"*@>
	    <thead>
	        <tr>
	            <th>@Messages.get("views.table.th.section")</th>
	        	<th>@Messages.get("views.table.th.ligne")</th>
	            <th>@Messages.get("views.table.th.indisponibilites")</th>
	            <th>@Messages.get("views.table.th.actions")</th>
	        </tr>
	    </thead>
	    <tbody>
	        @for(section <- sections) {
	            <tr>
	            	<td>
	            		@section.libelle
	            	</td>
	            	<td>
	            		@section.getLigne.getReseau @section.getLigne
	            	</td>
	            	<td></td>
	                <td>
		                <form method='' action=''>
		                    <div class="btn-toolbar">
							    <div class="btn-group btn-small">
								    <a class='btn btn-small' href="#"><i title='@Messages.get("views.bouton.detail")' class="icon-eye-open"></i></a>
								    <a class='btn btn-small' href="#"><i title='@Messages.get("views.bouton.modifier")' class="icon-edit"></i></a>
							    	<a class='btn btn-small' onclick="$(this).envoyerFormulaire('POST', '')"><i title='@Messages.get("views.bouton.supprimer")' class='icon-trash'></i></a>
	   							</div>
	   						</div>
   						</form>
		            </td>            	
	            </tr>
	        }
	    </tbody>
	</table>
    
    <h2>@Messages.get("views.section.h.ajouter")</h2>
    @form(routes.SectionControleur.ajouterSection()) {
        @inputText(
        	sectionForm("libelle"),
        	'_label -> Messages.get("views.section.form.label.libelle")
        ) 
        @select(
        	sectionForm("ligne.libelle"),
        	options(Ligne.selectOptions(null)),
        	'_default -> Messages.get("views.section.form.select.ligne.defaut"),
        	'_label -> Messages.get("views.section.form.label.ligne")
       	)
        <input type="submit" value='@Messages.get("views.bouton.ajouter")' @*class="btn"*@>
    }
}