@(stations: List[Station], stationForm: Form[Station])
@import helper._
@import helper.twitterBootstrap._
@import play.i18n._
@main(Messages.get("views.station.titre")) {
	<style type="text/css">
		table#tableStations>tbody>tr.stationAerienne
		{
			background-color: #FFEEAA;
		}
		
		.colonne_EnSurface
		{
			display: none;
		}
	</style>
	<script>
	jQuery(document)
	.ready
	(
		function ($)
		{
			$('#ligne, #sections_libelle__, #stationsPrecedentes_id__').hide();
			$('#reseau')
			.on
			(
				'change',
				function (event)
				{
				 	$('#sections_libelle__, #stationsPrecedentes_id__').hide();
					alimenteDonneesSelectAJAX('@routes.LigneControleur.listerLignesJSON()', $(event.target).val(), 'ligne');
				}
			);
			$('#ligne')
			.on
			(
				'change',
				function (event)
				{
					alimenteDonneesSelectAJAX('@routes.SectionControleur.listerSectionsJSON()', $(event.target).val(), 'sections_libelle__');
					alimenteDonneesSelectAJAX('@routes.StationControleur.listerStationsSelonLigneJSON()', $(event.target).val(), 'stationsPrecedentes_id__');
				}
			);
			$(".colonne_EnSurface:contains('true')").parent().addClass('stationAerienne');
		}
	);
	</script>
    <h1>@stations.size() @Messages.get("views.station.h.stations")</h1>
    <table id="tableStations" class="table table-condensed table-hover">
	    <thead>
	        <tr>
	            <th>@Messages.get("views.table.th.station")</th>
	        	<th>@Messages.get("views.table.th.reseau")</th>
	        	<th>@Messages.get("views.table.th.ligne")</th>
	        	<th>@Messages.get("views.table.th.sections")</th>
	        	<th>@Messages.get("views.table.th.stationsPrecedentes")</th>
	        	<th>@Messages.get("views.table.th.stationsSuivantes")</th>
	            <th class='colonne_EnSurface'>@Messages.get("views.table.th.isEnSurface")</th>
	            <th>@Messages.get("views.table.th.actions")</th>
	        </tr>
	    </thead>
	    <tbody>
	        @for(station <- stations) {
	            <tr>
	            	<td>
	            		@station.libelle
	            	</td>
	            	<td>
	            		@station.getReseau
	            	</td>
	            	<td>
	            		@station.getLigne	            	
	            	</td>
	            	<td>
	            		@for(section <- station.getListeSections) {
	            			<span>@section</span> 
	            		}
	            	</td>
	            	<td>
	            		@for(stationPrecedente <- station.getStationsPrecedentes) {
	            			<span>@stationPrecedente</span>
	            		}
	            	</td>
	            	<td>
	            		@for(stationSuivante <- station.getStationsSuivantes) {
	            			<span>@stationSuivante</span>
	            		}
	            	</td>
	            	<td class="colonne_EnSurface">
	            		@station.isEnSurface
	            	</td>	 
	            	<td>
		                @form(routes.StationControleur.supprimerStation(station.id)) {
		                    <input type="submit" value='@Messages.get("views.bouton.supprimer")' class="btn btn-default btn-xs">
		                }
		                <input type="submit" value='@Messages.get("views.bouton.detail")' class="btn btn-default btn-xs">
		                <input type="submit" value='@Messages.get("views.bouton.modifier")' class="btn btn-default btn-xs">
		            </td>	            	
	            </tr>
	        }
	    </tbody>
	</table>
    
    <h2>@Messages.get("views.station.h.ajouter")</h2>
    @form(routes.StationControleur.ajouterStation(), 'class -> "form-horizontal") {
        @inputText(
        	stationForm("libelle"),
        	'_label -> Messages.get("views.station.form.label.libelle"),
        	'_showConstraints -> false
        )
		@checkbox(
			stationForm("isEnSurface"),
			'_label -> Messages.get("views.station.form.label.isEnSurface"),
			'_showConstraints -> false
		)
		@select(
			stationForm("reseau"),
			options(Reseau.selectOptions()),
			'_label -> Messages.get("views.station.form.label.reseau"),
			'_default -> Messages.get("views.select.reseau.defaut")
		)
		@select(
			stationForm("ligne"),
			options(utils.OptionSelect.listeVide()),
			'_label -> Messages.get("views.station.form.label.ligne"),
			'_default -> Messages.get("views.select.ligne.defaut")
		)         
		@selectMultiple(
			stationForm("sections.libelle[]"),
			options(utils.OptionSelect.listeVide()),
			'_label -> Messages.get("views.station.form.label.sections"),
			'_default -> Messages.get("views.select.section.defaut")
		)
		@selectMultiple(
			stationForm("stationsPrecedentes.id[]"),
			options(utils.OptionSelect.listeVide()),
			'_label -> Messages.get("views.station.form.label.stationsPrecedentes"),
			'_default -> Messages.get("views.select.station.defaut")
		)
        <input type="submit" value='@Messages.get("views.bouton.ajouter")' class="btn btn-primary">
    }
}