@(stations: List[Station], stationForm: Form[Station])
@import helper._
@import helper.twitterBootstrap._
@import play.i18n._
@main(Messages.get("views.station.titre")) {
	<style type="text/css">
		table#tableStations>tbody>tr.stationAerienne
		{
			background-color: #FFEEAA;
		}
		
		.colonne_EnSurface
		{
			display: none;
		}
		
		.colonne_Reseau
		{
			display: none;
		}
		
		.colonne_Ligne
		{
			display: none;
		}
		
		.colonne_Composite_Reseau-Ligne
		{
			white-space: nowrap;
		}
	</style>
	<script>
	jQuery(document)
	.ready
	(
		function ($)
		{
			$('#ligne, #sections_libelle__, #stationsPrecedentes_id__').hide();
			$('#reseau')
			.on
			(
				'change',
				function (event)
				{
				 	$('#sections_libelle__, #stationsPrecedentes_id__').hide();
					alimenteDonneesSelectAJAX('@routes.LigneControleur.listerLignesJSON()', $(event.target).val(), 'ligne');
				}
			);
			$('#ligne')
			.on
			(
				'change',
				function (event)
				{
					alimenteDonneesSelectAJAX('@routes.SectionControleur.listerSectionsJSON()', $(event.target).val(), 'sections_libelle__');
					alimenteDonneesSelectAJAX('@routes.StationControleur.listerStationsSelonLigneJSON()', $(event.target).val(), 'stationsPrecedentes_id__');
				}
			);
			$("tbody td.colonne_EnSurface:contains('true')").parent().addClass('stationAerienne');
			 
			$("tbody td.colonne_Composite_Reseau-Ligne")
				.each
				(
					function ()
					{
						var celluleCompositeReseauLigne = $(this);
						var reseau = celluleCompositeReseauLigne.prevAll('.colonne_Reseau').html().trim();
						var ligne = celluleCompositeReseauLigne.prevAll('.colonne_Ligne').html().trim();
						$('<img>').attr('src', '/assets/images/' + reseau + '.gif').appendTo(celluleCompositeReseauLigne);
						$('<img>').attr('src', '/assets/images/' + ligne + '.gif').appendTo(celluleCompositeReseauLigne);
					}
				);
		}
	);
	</script>
    <h1>@stations.size() @Messages.get("views.station.h.stations")</h1>
    <table id="tableStations" class="table table-condensed">
	    <thead>
	        <tr>
	            <th>@Messages.get("views.table.th.station")</th>
	        	<th class='colonne_Reseau'>@Messages.get("views.table.th.reseau")</th>
	        	<th class='colonne_Ligne'>@Messages.get("views.table.th.ligne")</th>
	        	<th class='colonne_Composite_Reseau-Ligne'>@Messages.get("views.table.th.ligne")</th>
	        	<th>@Messages.get("views.table.th.sections")</th>
	        	<th>@Messages.get("views.table.th.stationsPrecedentes")</th>
	        	<th>@Messages.get("views.table.th.stationsSuivantes")</th>
	            <th class='colonne_EnSurface'>@Messages.get("views.table.th.isEnSurface")</th>
	            <th>@Messages.get("views.table.th.actions")</th>
	        </tr>
	    </thead>
	    <tbody>
	        @for(station <- stations) {
	            <tr>
	            	<td>
	            		@station.libelle
	            	</td>
	            	<td class='colonne_Reseau'>
	            		@station.getReseau
	            	</td>
	            	<td class='colonne_Ligne'>
	            		@station.getLigne	            	
	            	</td>
	            	<td class='colonne_Composite_Reseau-Ligne'>
	            	</td>
	            	<td>
	            		@for(section <- station.getListeSections) {
	            			<span>@section</span> 
	            		}
	            	</td>
	            	<td>
	            		<ul>
		            		@for(stationPrecedente <- station.getStationsPrecedentes) {
		            			<li>@stationPrecedente</li>
		            		}
	            		</ul>
	            	</td>
	            	<td>
	            		<ul>
		            		@for(stationSuivante <- station.getStationsSuivantes) {
		            			<li>@stationSuivante</li>
		            		}
	            		</ul>
	            	</td>
	            	<td class="colonne_EnSurface">
	            		@station.isEnSurface
	            	</td>	 
	            	<td>
		                <form method='' action=''>
		                    <div class="btn-toolbar">
							    <div class="btn-group btn-small">
								    <a class='btn btn-small' href="#"><i title='@Messages.get("views.bouton.detail")' class="icon-eye-open"></i></a>
								    <a class='btn btn-small' href="#"><i title='@Messages.get("views.bouton.modifier")' class="icon-edit"></i></a>
							    	<a class='btn btn-small' onclick="$(this).envoyerFormulaire('POST', '@routes.StationControleur.supprimerStation(station.id)')"><i title='@Messages.get("views.bouton.supprimer")' class='icon-trash'></i></a>
	   							</div>
	   						</div>
   						</form>
		            </td>	            	
	            </tr>
	        }
	    </tbody>
	</table>
    
    <h2>@Messages.get("views.station.h.ajouter")</h2>
    @form(routes.StationControleur.ajouterStation(), 'class -> "form-horizontal") {
        @inputText(
        	stationForm("libelle"),
        	'_label -> Messages.get("views.station.form.label.libelle"),
        	'_showConstraints -> false
        )
		@checkbox(
			stationForm("isEnSurface"),
			'_label -> Messages.get("views.station.form.label.isEnSurface"),
			'_showConstraints -> false
		)
		@select(
			stationForm("reseau"),
			options(Reseau.selectOptions()),
			'_label -> Messages.get("views.station.form.label.reseau"),
			'_default -> Messages.get("views.select.reseau.defaut")
		)
		@select(
			stationForm("ligne"),
			options(utils.OptionSelect.listeVide()),
			'_label -> Messages.get("views.station.form.label.ligne"),
			'_default -> Messages.get("views.select.ligne.defaut")
		)         
		@selectMultiple(
			stationForm("sections.libelle[]"),
			options(utils.OptionSelect.listeVide()),
			'_label -> Messages.get("views.station.form.label.sections"),
			'_default -> Messages.get("views.select.section.defaut")
		)
		@selectMultiple(
			stationForm("stationsPrecedentes.id[]"),
			options(utils.OptionSelect.listeVide()),
			'_label -> Messages.get("views.station.form.label.stationsPrecedentes"),
			'_default -> Messages.get("views.select.station.defaut")
		)
        <input type="submit" value='@Messages.get("views.bouton.ajouter")' class="btn btn-primary">
    }
}