@(ventilateurs: List[Ventilateur], ventilateurForm: Form[Ventilateur])
@import helper._
@import play.i18n._
@main(Messages.get("views.ventilateur.titre")) {
    <h1>@ventilateurs.size() @Messages.get("views.ventilateur.h.ventilateurs")</h1>
    <table id="tableVentilateurs" @*class="table table-striped table-bordered"*@>
	    <thead>
	        <tr>
	            <th>Ventilateur</th>
				<th>Ligne</th>	            
	            <th>Station</th>
	            <th>Etat de fonctionnement</th>
	            <th>D&eacute;but</th>
	            <th>Fin pr&eacute;visionnelle</th>
	            <th>Etat CCVM</th>
	            <th>Attention</th>
	            <th>Observations</th>
	            <th>Actions</th>
	        </tr>
	    </thead>
	    <tbody>
	        @for(ventilateur <- ventilateurs) {
	            <tr>
	            	<td>
	            		@ventilateur.libelle
	            	</td>
	            	<td></td>	            	
	            	<td></td>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	                <td style="white-space: nowrap">
		                @form(routes.VentilateurControleur.supprimerVentilateur(ventilateur.libelle)) {
		                    <input type="submit" value='@Messages.get("views.bouton.supprimer")' @*class="btn"*@>
		                }
		                <input type="submit" value='@Messages.get("views.bouton.detail")' @*class="btn"*@>
		                <input type="submit" value='@Messages.get("views.bouton.modifier")' @*class="btn"*@>
		            </td>
	            </tr>
	        }
	    </tbody>
	</table>
    
    <h2>@Messages.get("views.ventilateur.h.ajouter")</h2>
    @form(routes.VentilateurControleur.ajouterVentilateur()) {
        @inputText(
        	ventilateurForm("libelle"),
        	'label -> Messages.get("views.ventilateur.form.label.libelle")
       	) 
        <input type="submit" value='@Messages.get("views.bouton.ajouter")' @*class="btn"*@>
    }
}